html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-family: "Proxima Nova", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --red: #DB2121;
  --bold-red: #C6062B;
  --brown: #261D1D;
  --beige: #CFCFCE;
}

/* --- Navbar start --- */

.navbar-container li{
  list-style: none;
}

.navbar-container a{
  text-decoration: none;
}

.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position : fixed;
  z-index: 1030;
  height: 8vh;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--brown);
  background-color: #FFFFFF;
}

.logo-navbar{
  height: 55px;
  width: 80px;
  box-sizing: border-box;
}

.navbar-img-container a{
  text-decoration: none;
  box-sizing: border-box;}

.navbar_item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.nav__menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  z-index: 1030;
}

.nav__toggler div{
  width: 2rem;
  height: 0.1rem;
  margin: 0.4rem;
  background-color: var(--brown);
  transition: 0.2S ease-in;
}
.nav__toggler{
  cursor: pointer;
  display: none;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: #111;
  text-decoration: none;
}

.link{
  border-bottom: 2px solid var(--bold-red);
}

/* --- Navbar end --- */

/* --- Header start --- */

.headerImageContainer{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("./images/christopher-burns-Wiu3w-99tNg-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTextContainer{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTextContainer img{
  width: 100%;
  height: 100%;
}

  /* arrow */
  .center-con {
      position: absolute;
      top: 80%;
      left: 47%;
      transform: translate(-50%, -50%);
      width: 100px;
  }
  
  .round {
      position: relative;
      border: 3px solid var(--red);
      width: 100px;
      height: 100px;
      border-radius: 100%;
      cursor: pointer;
      cursor: hand;
  }
  
  .round span {
      z-index: 999;
      height: 3px;
      margin:1px;
      width: 30px;
      background: var(--red);
      transition: 0.4s ease;
  }
  
  .round span:first-child {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 23%;
      bottom: 35%;
  }
  
  .round span:nth-child(2) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 44%;
      bottom: 35%;
  }
  
  .round span:nth-child(3) {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 23%;
      bottom: 54%;
  }
  
  .round span:nth-child(4) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 44%;
      bottom: 54%;
  }

  .center-con {
    -webkit-animation: scrolling 3s ease infinite;
       -moz-animation: scrolling 3s ease infinite;
       -o-animation: scrolling 3s  ease infinite;
       animation: scrolling 3s ease infinite;
    }
  /* arrow end */

/* --- Header end --- */

/* ---  --- */

.container-features{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--beige);
  padding: 6.25rem 0;
}

.features-title{
  position: relative;
}

.features-title::before,
.features-title::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--bold-red);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.features-title::before {
  content: '';
}

.container-features-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  padding-top: 3rem;
}

.feature-icon-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.single-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
}

.single-feature h3{
  text-align: center;
  width:  80%;
}

.single-feature .feature-icon-circle, .single-feature h3{
  padding: .4rem;
}

/* --- Features --- */

/* --- About Us start --- */

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6.25rem 0;
}

.img-container-about img{
  width: 550px;
  height: 370px;
  border-radius: 5px;
}

.about-content{
  width: 550px;
  height: 370px;
}

.text-content-about{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
}

.text-content-about h1{
  position: relative;
}

.text-content-about h1::before,
.text-content-about h1::after {
  position: absolute;
  width: 50%;
  height: 4px;
  background: var(--bold-red);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.text-content-about h1::before {
  content: '';
}

/* --- About Us end ---*/

/* --- History start --- */

.history-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 6.25rem 0;
  background-color: var(--beige);
}

.history-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1170px;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.title-content-history h1{
  position: relative;
}

.title-content-history h1::before,
.title-content-history h1::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--bold-red);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.title-content-history h1::before {
  content: '';
}

.text-content-history{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button-history-container{
  padding: .5rem 3rem;
  border-radius: 5px;
  background-color: var(--brown);
  color: var(--beige);
  cursor: pointer;
  cursor: hand;
  position: relative;
}

.button-history-container-inner{
  width: 40rem;
  padding-bottom: 1rem;
}

/* --- History end --- */

/* --- Calidad start --- */

.calidad-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 6.25rem 0;
  background-color: #FFFFFF;
}

.calidad-text-container{
  width: 1170px;
}

.calidad-text-container ul{
  padding: .3rem 0;
}

.calidad-text-container ul li{
  margin-left: 3rem;
  padding: .3rem 0;
}

.calidad-title-container{
  text-align: center;
  padding-bottom: 2rem;
}

.calidad-title-container h1{
  position: relative;
}

.calidad-title-container h1::before,
.calidad-title-container h1::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--bold-red);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.calidad-title-container h1::before {
  content: '';
}

/* --- Calidad end --- */

/* --- Contact start --- */

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6.25rem 0;
  background-color: var(--beige);
}

.contact-container-indeed{
  width: 1170px;
  display: flex;
}

.contact-map-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 0;
  padding: 0;
}

.contact-map-title h1{
  position: relative;
}

.contact-map-title h1::before,
.contact-map-title h1::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--bold-red);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.contact-map-title h1::before {
  content: '';
}

.contact-map-map{
  margin-top: 1rem;
  width: 100%;
  height: 600px;
}

.contact-data-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: 3.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.contact-data-item-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-align: center;
}

.contact-data-item-icon img{
  width: 25px;
  margin-top: .5rem;
}

.contact-data-items{
  padding: .2rem 0;
}

.contact-data-item{
  display: flex;
  align-items: center;
}

.contact-data-item-text{
  padding-left: 1rem;
}

.contact-data-item-text a{
  color: var(--brown);
  text-decoration: none;
}

.contact-data-item-text a:hover{
  color: var(--bold-red);
  
}

.contact-data-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-data-input, .contact-data-input-number{
  width: 100%;
  margin-top: 1rem;
}

.contact-data-input input, .contact-data-input-number input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--brown);
  border-right: 1px solid var(--brown);
  padding: .5rem;
  width: 100%;
  font-family: "Proxima Nova", sans-serif;
}

.contact-data-textarea{
  width: 100%;
  margin-top: 1rem;
}

.contact-data-textarea textarea{
  resize: none;
  font-family: "Proxima Nova", sans-serif;
  padding: .4rem .5rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--brown);
  border-right: 1px solid var(--brown);
}

.contact-data-button button{
  margin-top: 1rem;
  padding: .6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--brown);
  color: var(--beige);
  cursor: pointer;
  cursor: hand;
}

.contact-data-button button:disabled{
  background-color: gray;
  cursor: not-allowed;
}

.errorMessage{
  color: red;
  font-size: .8rem;
  margin-top: .5rem;
}

/* --- Contact end --- */

/* --- Footer start --- */

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: var(--brown);
  color: #FFFFFF;
}
.footer-designBy{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
}

.footer-designBy img{
  padding-left: .2rem;
  color: #FFFFFF;
}

/* --- Footer end --- */


/* --- Media Querys start --- */
@media screen and (max-width: 425px){

  .nav__toggler{
    display:block;
  }

  .nav__menu{
    position: fixed;
    top: 7.9vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: var(--beige);
    border-left:1px solid var(--brown);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5 ease-in;
    justify-content: center;
  }

  .nav__active{
    transform: translateX(0);
    z-index: 1030;
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-6px, -7px);
  }

  .container-features-inner{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-container{
    flex-direction: column;
  }

  .img-container-about{
    padding: 0 .5rem;
  }

  .img-container-about img{
    width: 100%;
    height: 100%;
  }

  .about-container, .container-features, 
  .history-container, .calidad-main-container,
  .contact-container{
    padding: 3rem 0;
  }

  .about-content, .history-content, 
  .button-history-container-inner, 
  .contact-data-textarea textarea,
  .contact-data-container{
    width: 100%;
  }

  .button-history-container{
    width: 90%;
  }

  .button-history-container h2{
    text-align: center;
  }

  .calidad-text-container{
    width: 100%;
    padding: 0 1rem;
  }

  .contact-container-indeed{
    flex-direction: column;
    width: 100%;
  }

  .contact-map-container{
    width: 100%;
    padding: 0 .5rem;
  }

  .contact-data-button{
    display: flex;
    justify-content: center;
  }

  .contact-data-button button{
    padding: .5rem 1rem;
    font-size: 1em;
  }

  .footer-content{
    font-size: .85em;
  }

  .contact-map-map{
    height: 400px;
    margin-top: 2rem;
  }

  .contact-data-container{
    margin-top: 1rem;
  }

  .button-history-container-inner ul li{
    padding: .15rem 0;
  }

  .single-feature{
    width: 150px
  }

  .center-con{
    left: 39%;
    top: 45%;
  }

  .headerTextContainer{
    height: 100%;
  }

  .headerImageContainer{
    min-height: 60vh;
    align-items: center;
  }

  .headerImageContainer img{
    margin-top: 4rem;
  }

  .arrow{
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  
  .nav__toggler{
    display:block;
  }

  .nav__menu{
    position: fixed;
    top: 7.9vh;
    right: 0;
    width: 30%;
    height: 93vh;
    background-color: var(--beige);
    border-left:1px solid var(--brown);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5 ease-in;
    justify-content: center;
  }

  .nav__active{
    transform: translateX(0);
    z-index: 1030;
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-6px, -7px);
  }

  .container-features-inner{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-container{
    flex-direction: column;
  }

  .img-container-about{
    width: 80%;

  }

  .img-container-about img{
    width: 100%;
    height: 100%;
  }

  .about-container, .container-features, 
  .history-container, .calidad-main-container,
  .contact-container{
    padding: 3rem 0;
  }

  .history-content, 
  .button-history-container-inner, 
  .contact-data-textarea textarea,
  .contact-data-container{
    width: 100%;
  }

  .button-history-container{
    width: 80%;
  }

  .button-history-container h2{
    text-align: center;
  }

  .calidad-text-container{
    width: 80%;
    padding: 0 1rem;
  }

  .contact-container-indeed{
    flex-direction: column;
    width: 100%;
  }

  .contact-map-container{
    width: 100%;
    padding: 0 .5rem;
  }

  .contact-data-button{
    display: flex;
    justify-content: center;
  }

  .contact-data-button button{
    padding: .5rem 1rem;
    font-size: 1em;
  }

  .footer-content{
    font-size: .85em;
  }

  .contact-map-title{
    padding: 0 3rem;
  }

  .contact-map-map{
    height: 400px;
    margin-top: 2rem;
    padding: 0 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-data-container{
    margin-top: 1rem;
    padding: 0 3rem;
  }

  .button-history-container-inner ul li{
    padding: .15rem 0;
  }

  .single-feature{
    width: 150px
  }

  .center-con{
    left: 44%;
    top: 60%;
  }

  .headerTextContainer img{
    height: 80%;
    width: 95%;
  }

  .headerImageContainer{
    min-height: 75vh;
    margin-top: 3rem;
    align-items: flex-start;
  }

  .headerImageContainer img{
    margin-top: 8rem;
  }

  .text-content-history{
    width: 80%;
  }


  .about-content{
    width: 80%;
    margin-top: 1rem;
  }

  .text-content-about{
    padding: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px){

  .about-container, .container-features, 
  .history-container, .calidad-main-container,
  .contact-container{
    padding: 3rem 0;
  }

  .container-features,
  .about-container,
  .history-container,
  .calidad-main-container{
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .history-content{
    padding-left: 0;
    padding-right: 0;
  }

  .about-content, .history-content, 
  .button-history-container-inner, 
  .contact-data-textarea textarea,
  .container-features-inner,
  .calidad-text-container{
    width: 100%;
  }

  .contact-data-data{
    display: flex;
    flex-direction: column;
  }

  .about-content{
    width: 100%;
    margin-top: 1rem;
  }

  .text-content-about{
    padding: 0;
    width: 100%;
    margin-left: .5rem;
    justify-content: center;
  }

  .text-content-about p{
    padding-top: 1.5rem;
  }

  .img-container-about{
    width: 70%;
    height: 100%;
  }

  .img-container-about img{
    width: 100%;
    height: 100%;
  }
}
/* --- Media Querys end --- */